<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jopool.chargingStation.www.dao.AliConfigMapper" >
  <resultMap id="BaseResultMap" type="com.jopool.chargingStation.www.base.entity.AliConfig" >
    <id column="id" property="id" jdbcType="CHAR" />
    <result column="app_id" property="appId" jdbcType="VARCHAR" />
    <result column="notify_url" property="notifyUrl" jdbcType="VARCHAR" />
    <result column="return_url" property="returnUrl" jdbcType="VARCHAR" />
    <result column="private_key" property="privateKey" jdbcType="VARCHAR" />
    <result column="public_key" property="publicKey" jdbcType="VARCHAR" />
    <result column="creator" property="creator" jdbcType="CHAR" />
    <result column="is_deleted" property="isDeleted" jdbcType="BIT" />
    <result column="creation_time" property="creationTime" jdbcType="TIMESTAMP" />
    <result column="platform" property="platform" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, app_id, notify_url, return_url, private_key, public_key, creator, is_deleted, 
    creation_time, platform
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from ali_config
    where id = #{id,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from ali_config
    where id = #{id,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.jopool.chargingStation.www.base.entity.AliConfig" >
    insert into ali_config (id, app_id, notify_url, 
      return_url, private_key, public_key, 
      creator, is_deleted, creation_time, 
      platform)
    values (#{id,jdbcType=CHAR}, #{appId,jdbcType=VARCHAR}, #{notifyUrl,jdbcType=VARCHAR}, 
      #{returnUrl,jdbcType=VARCHAR}, #{privateKey,jdbcType=VARCHAR}, #{publicKey,jdbcType=VARCHAR}, 
      #{creator,jdbcType=CHAR}, #{isDeleted,jdbcType=BIT}, #{creationTime,jdbcType=TIMESTAMP}, 
      #{platform,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.jopool.chargingStation.www.base.entity.AliConfig" >
    insert into ali_config
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="appId != null" >
        app_id,
      </if>
      <if test="notifyUrl != null" >
        notify_url,
      </if>
      <if test="returnUrl != null" >
        return_url,
      </if>
      <if test="privateKey != null" >
        private_key,
      </if>
      <if test="publicKey != null" >
        public_key,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="isDeleted != null" >
        is_deleted,
      </if>
      <if test="creationTime != null" >
        creation_time,
      </if>
      <if test="platform != null" >
        platform,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=CHAR},
      </if>
      <if test="appId != null" >
        #{appId,jdbcType=VARCHAR},
      </if>
      <if test="notifyUrl != null" >
        #{notifyUrl,jdbcType=VARCHAR},
      </if>
      <if test="returnUrl != null" >
        #{returnUrl,jdbcType=VARCHAR},
      </if>
      <if test="privateKey != null" >
        #{privateKey,jdbcType=VARCHAR},
      </if>
      <if test="publicKey != null" >
        #{publicKey,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=CHAR},
      </if>
      <if test="isDeleted != null" >
        #{isDeleted,jdbcType=BIT},
      </if>
      <if test="creationTime != null" >
        #{creationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="platform != null" >
        #{platform,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jopool.chargingStation.www.base.entity.AliConfig" >
    update ali_config
    <set >
      <if test="appId != null" >
        app_id = #{appId,jdbcType=VARCHAR},
      </if>
      <if test="notifyUrl != null" >
        notify_url = #{notifyUrl,jdbcType=VARCHAR},
      </if>
      <if test="returnUrl != null" >
        return_url = #{returnUrl,jdbcType=VARCHAR},
      </if>
      <if test="privateKey != null" >
        private_key = #{privateKey,jdbcType=VARCHAR},
      </if>
      <if test="publicKey != null" >
        public_key = #{publicKey,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=CHAR},
      </if>
      <if test="isDeleted != null" >
        is_deleted = #{isDeleted,jdbcType=BIT},
      </if>
      <if test="creationTime != null" >
        creation_time = #{creationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="platform != null" >
        platform = #{platform,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jopool.chargingStation.www.base.entity.AliConfig" >
    update ali_config
    set app_id = #{appId,jdbcType=VARCHAR},
      notify_url = #{notifyUrl,jdbcType=VARCHAR},
      return_url = #{returnUrl,jdbcType=VARCHAR},
      private_key = #{privateKey,jdbcType=VARCHAR},
      public_key = #{publicKey,jdbcType=VARCHAR},
      creator = #{creator,jdbcType=CHAR},
      is_deleted = #{isDeleted,jdbcType=BIT},
      creation_time = #{creationTime,jdbcType=TIMESTAMP},
      platform = #{platform,jdbcType=VARCHAR}
    where id = #{id,jdbcType=CHAR}
  </update>
  <!--custom-->
  <select id="searchByCondition" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List"/>
    FROM ali_config
    WHERE is_deleted = 0
    <if test="keyword != null and keyword != '' ">
      AND (app_id LIKE CONCAT('%','${keyword}','%' )
      OR return_url LIKE CONCAT('%','${keyword}','%' )
      OR notify_url LIKE CONCAT('%','${keyword}','%' ))
    </if>
    ORDER BY creation_time DESC
  </select>
  <select id="selectByCreationTimeDesc" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List"/>
    FROM ali_config
    WHERE is_deleted = 0
    ORDER BY creation_time DESC
    limit 1
  </select>
</mapper>