<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jopool.chargingStation.www.dao.CommonPictureMapper" >
  <resultMap id="BaseResultMap" type="com.jopool.chargingStation.www.base.entity.CommonPicture" >
    <id column="id" property="id" jdbcType="CHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="host_type" property="hostType" jdbcType="VARCHAR" />
    <result column="host_id" property="hostId" jdbcType="CHAR" />
    <result column="height" property="height" jdbcType="INTEGER" />
    <result column="width" property="width" jdbcType="INTEGER" />
    <result column="size" property="size" jdbcType="INTEGER" />
    <result column="org_name" property="orgName" jdbcType="VARCHAR" />
    <result column="relative_folder" property="relativeFolder" jdbcType="VARCHAR" />
    <result column="remote_relative_url" property="remoteRelativeUrl" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="is_deleted" property="isDeleted" jdbcType="BIT" />
    <result column="creator" property="creator" jdbcType="CHAR" />
    <result column="creation_time" property="creationTime" jdbcType="TIMESTAMP" />
    <result column="modifier" property="modifier" jdbcType="VARCHAR" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, host_type, host_id, height, width, size, org_name, relative_folder, remote_relative_url, 
    description, is_deleted, creator, creation_time, modifier, modify_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from common_picture
    where id = #{id,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from common_picture
    where id = #{id,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.jopool.chargingStation.www.base.entity.CommonPicture" >
    insert into common_picture (id, name, host_type, host_id,
      height, width, size, 
      org_name, relative_folder, remote_relative_url, 
      description, is_deleted, creator, 
      creation_time, modifier, modify_time
      )
    values (#{id,jdbcType=CHAR}, #{name,jdbcType=VARCHAR}, #{hostType,jdbcType=VARCHAR}, #{hostId,jdbcType=CHAR},
      #{height,jdbcType=INTEGER}, #{width,jdbcType=INTEGER}, #{size,jdbcType=INTEGER}, 
      #{orgName,jdbcType=VARCHAR}, #{relativeFolder,jdbcType=VARCHAR}, #{remoteRelativeUrl,jdbcType=VARCHAR}, 
      #{description,jdbcType=VARCHAR}, #{isDeleted,jdbcType=BIT}, #{creator,jdbcType=CHAR}, 
      #{creationTime,jdbcType=TIMESTAMP}, #{modifier,jdbcType=VARCHAR}, #{modifyTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.jopool.chargingStation.www.base.entity.CommonPicture" >
    insert into common_picture
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="hostType != null" >
        host_type,
      </if>
      <if test="hostId != null" >
        host_id,
      </if>
      <if test="height != null" >
        height,
      </if>
      <if test="width != null" >
        width,
      </if>
      <if test="size != null" >
        size,
      </if>
      <if test="orgName != null" >
        org_name,
      </if>
      <if test="relativeFolder != null" >
        relative_folder,
      </if>
      <if test="remoteRelativeUrl != null" >
        remote_relative_url,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="isDeleted != null" >
        is_deleted,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="creationTime != null" >
        creation_time,
      </if>
      <if test="modifier != null" >
        modifier,
      </if>
      <if test="modifyTime != null" >
        modify_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=CHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="hostType != null" >
        #{hostType,jdbcType=VARCHAR},
      </if>
      <if test="hostId != null" >
        #{hostId,jdbcType=CHAR},
      </if>
      <if test="height != null" >
        #{height,jdbcType=INTEGER},
      </if>
      <if test="width != null" >
        #{width,jdbcType=INTEGER},
      </if>
      <if test="size != null" >
        #{size,jdbcType=INTEGER},
      </if>
      <if test="orgName != null" >
        #{orgName,jdbcType=VARCHAR},
      </if>
      <if test="relativeFolder != null" >
        #{relativeFolder,jdbcType=VARCHAR},
      </if>
      <if test="remoteRelativeUrl != null" >
        #{remoteRelativeUrl,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null" >
        #{isDeleted,jdbcType=BIT},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=CHAR},
      </if>
      <if test="creationTime != null" >
        #{creationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null" >
        #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jopool.chargingStation.www.base.entity.CommonPicture" >
    update common_picture
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="hostType != null" >
        host_type = #{hostType,jdbcType=VARCHAR},
      </if>
      <if test="hostId != null" >
        host_id = #{hostId,jdbcType=CHAR},
      </if>
      <if test="height != null" >
        height = #{height,jdbcType=INTEGER},
      </if>
      <if test="width != null" >
        width = #{width,jdbcType=INTEGER},
      </if>
      <if test="size != null" >
        size = #{size,jdbcType=INTEGER},
      </if>
      <if test="orgName != null" >
        org_name = #{orgName,jdbcType=VARCHAR},
      </if>
      <if test="relativeFolder != null" >
        relative_folder = #{relativeFolder,jdbcType=VARCHAR},
      </if>
      <if test="remoteRelativeUrl != null" >
        remote_relative_url = #{remoteRelativeUrl,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null" >
        is_deleted = #{isDeleted,jdbcType=BIT},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=CHAR},
      </if>
      <if test="creationTime != null" >
        creation_time = #{creationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null" >
        modifier = #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jopool.chargingStation.www.base.entity.CommonPicture" >
    update common_picture
    set name = #{name,jdbcType=VARCHAR},
      host_type = #{hostType,jdbcType=VARCHAR},
      host_id = #{hostId,jdbcType=CHAR},
      height = #{height,jdbcType=INTEGER},
      width = #{width,jdbcType=INTEGER},
      size = #{size,jdbcType=INTEGER},
      org_name = #{orgName,jdbcType=VARCHAR},
      relative_folder = #{relativeFolder,jdbcType=VARCHAR},
      remote_relative_url = #{remoteRelativeUrl,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      is_deleted = #{isDeleted,jdbcType=BIT},
      creator = #{creator,jdbcType=CHAR},
      creation_time = #{creationTime,jdbcType=TIMESTAMP},
      modifier = #{modifier,jdbcType=VARCHAR},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=CHAR}
  </update>
  <!--custom-->
  <select id="selectByHostIdOrType" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from common_picture
    where host_id = #{hostId,jdbcType=CHAR}
    <if test="type != '' and type != null ">
      and host_type = #{type,jdbcType=VARCHAR}
    </if>
    order by creation_time desc
    limit 1
  </select>

  <delete id="deletedByHostId" parameterType="java.lang.String" >
    UPDATE common_picture set is_deleted = 1
    where host_id = #{hostId,jdbcType=CHAR}
  </delete>

</mapper>