<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jopool.chargingStation.www.dao.EstateMapper">
    <resultMap id="BaseResultMap" type="com.jopool.chargingStation.www.base.entity.Estate">
        <id column="id" property="id" jdbcType="CHAR"/>
        <result column="passport_id" property="passportId" jdbcType="CHAR"/>
        <result column="operator_id" property="operatorId" jdbcType="CHAR"/>
        <result column="address" property="address" jdbcType="VARCHAR"/>
        <result column="contact_name" property="contactName" jdbcType="VARCHAR"/>
        <result column="contact_phone" property="contactPhone" jdbcType="VARCHAR"/>
        <result column="electric_bill" property="electricBill" jdbcType="INTEGER"/>
        <result column="is_enabled" property="isEnabled" jdbcType="BIT"/>
        <result column="is_deleted" property="isDeleted" jdbcType="BIT"/>
        <result column="creator" property="creator" jdbcType="CHAR"/>
        <result column="creation_time" property="creationTime" jdbcType="TIMESTAMP"/>
        <result column="modifier" property="modifier" jdbcType="VARCHAR"/>
        <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, passport_id, operator_id, address, contact_name, contact_phone, electric_bill, 
    is_enabled, is_deleted, creator, creation_time, modifier, modify_time
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from estate
        where id = #{id,jdbcType=CHAR} and is_deleted = 0
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    update estate set is_deleted = 1
    where id = #{id,jdbcType=CHAR}
  </delete>
    <insert id="insert" parameterType="com.jopool.chargingStation.www.base.entity.Estate">
    insert into estate (id,passport_id, operator_id, address,
      contact_name, contact_phone, electric_bill, 
      is_enabled, is_deleted, creator, 
      creation_time, modifier, modify_time
      )
    values (#{id,jdbcType=CHAR},#{passportId,jdbcType=CHAR}, #{operatorId,jdbcType=CHAR}, #{address,jdbcType=VARCHAR},
      #{contactName,jdbcType=VARCHAR}, #{contactPhone,jdbcType=VARCHAR}, #{electricBill,jdbcType=INTEGER}, 
      #{isEnabled,jdbcType=BIT}, #{isDeleted,jdbcType=BIT}, #{creator,jdbcType=CHAR}, 
      #{creationTime,jdbcType=TIMESTAMP}, #{modifier,jdbcType=VARCHAR}, #{modifyTime,jdbcType=TIMESTAMP}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.jopool.chargingStation.www.base.entity.Estate">
        <selectKey resultType="java.lang.String" keyProperty="id" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into estate
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="passportId != null">
                passport_id,
            </if>
            <if test="operatorId != null">
                operator_id,
            </if>
            <if test="address != null">
                address,
            </if>
            <if test="contactName != null">
                contact_name,
            </if>
            <if test="contactPhone != null">
                contact_phone,
            </if>
            <if test="electricBill != null">
                electric_bill,
            </if>
            <if test="isEnabled != null">
                is_enabled,
            </if>
            <if test="isDeleted != null">
                is_deleted,
            </if>
            <if test="creator != null">
                creator,
            </if>
            <if test="creationTime != null">
                creation_time,
            </if>
            <if test="modifier != null">
                modifier,
            </if>
            <if test="modifyTime != null">
                modify_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="passportId != null">
                #{passportId,jdbcType=CHAR},
            </if>
            <if test="operatorId != null">
                #{operatorId,jdbcType=CHAR},
            </if>
            <if test="address != null">
                #{address,jdbcType=VARCHAR},
            </if>
            <if test="contactName != null">
                #{contactName,jdbcType=VARCHAR},
            </if>
            <if test="contactPhone != null">
                #{contactPhone,jdbcType=VARCHAR},
            </if>
            <if test="electricBill != null">
                #{electricBill,jdbcType=INTEGER},
            </if>
            <if test="isEnabled != null">
                #{isEnabled,jdbcType=BIT},
            </if>
            <if test="isDeleted != null">
                #{isDeleted,jdbcType=BIT},
            </if>
            <if test="creator != null">
                #{creator,jdbcType=CHAR},
            </if>
            <if test="creationTime != null">
                #{creationTime,jdbcType=TIMESTAMP},
            </if>
            <if test="modifier != null">
                #{modifier,jdbcType=VARCHAR},
            </if>
            <if test="modifyTime != null">
                #{modifyTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.jopool.chargingStation.www.base.entity.Estate">
        update estate
        <set>
            <if test="passportId != null">
                passport_id = #{passportId,jdbcType=CHAR},
            </if>
            <if test="operatorId != null">
                operator_id = #{operatorId,jdbcType=CHAR},
            </if>
            <if test="address != null">
                address = #{address,jdbcType=VARCHAR},
            </if>
            <if test="contactName != null">
                contact_name = #{contactName,jdbcType=VARCHAR},
            </if>
            <if test="contactPhone != null">
                contact_phone = #{contactPhone,jdbcType=VARCHAR},
            </if>
            <if test="electricBill != null">
                electric_bill = #{electricBill,jdbcType=INTEGER},
            </if>
            <if test="isEnabled != null">
                is_enabled = #{isEnabled,jdbcType=BIT},
            </if>
            <if test="isDeleted != null">
                is_deleted = #{isDeleted,jdbcType=BIT},
            </if>
            <if test="creator != null">
                creator = #{creator,jdbcType=CHAR},
            </if>
            <if test="creationTime != null">
                creation_time = #{creationTime,jdbcType=TIMESTAMP},
            </if>
            <if test="modifier != null">
                modifier = #{modifier,jdbcType=VARCHAR},
            </if>
            <if test="modifyTime != null">
                modify_time = #{modifyTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=CHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.jopool.chargingStation.www.base.entity.Estate">
    update estate
    set passport_id = #{passportId,jdbcType=CHAR},
      operator_id = #{operatorId,jdbcType=CHAR},
      address = #{address,jdbcType=VARCHAR},
      contact_name = #{contactName,jdbcType=VARCHAR},
      contact_phone = #{contactPhone,jdbcType=VARCHAR},
      electric_bill = #{electricBill,jdbcType=INTEGER},
      is_enabled = #{isEnabled,jdbcType=BIT},
      is_deleted = #{isDeleted,jdbcType=BIT},
      creator = #{creator,jdbcType=CHAR},
      creation_time = #{creationTime,jdbcType=TIMESTAMP},
      modifier = #{modifier,jdbcType=VARCHAR},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=CHAR}
  </update>
    <!--cosutm-->
    <select id="selectEstateVo" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from estate
        where is_deleted = 0
        <if test="status =='normal' ">
            AND is_enabled = 1
        </if>
        <if test="status =='disable' ">
            AND is_enabled = 0
        </if>
        <if test="keyword !=null and keyword!=''">
            AND ( address LIKE CONCAT('%','${keyword}','%') OR contact_name LIKE CONCAT('%','${keyword}','%') OR
            contact_phone LIKE CONCAT('%','${keyword}','%') )
        </if>
        ORDER BY creation_time DESC
    </select>

    <select id="selectByPhone" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from estate
        where contact_phone = #{phone} and is_deleted = 0
    </select>

    <select id="selectByPassportId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from estate
        where passport_id = #{passportId,jdbcType=CHAR} and is_deleted = 0
    </select>

    <delete id="deleteByPassportId" parameterType="java.lang.String">
    update estate set is_deleted = 1
    where passport_id = #{passportId,jdbcType=CHAR}
  </delete>

    <select id="selectByOperatorId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from estate
        where is_deleted = 0
        and operator_id = #{operatorId,jdbcType=CHAR}
    </select>
    <select id="selectGetEstateAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from estate
        where is_deleted = 0
    </select>
</mapper>