<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jopool.chargingStation.www.dao.OpenAreaMapper">
    <resultMap id="BaseResultMap" type="com.jopool.chargingStation.www.base.entity.OpenArea">
        <id column="id" property="id" jdbcType="CHAR"/>
        <result column="area_id" property="areaId" jdbcType="CHAR"/>
        <result column="is_enabled" property="isEnabled" jdbcType="BIT"/>
        <result column="is_deleted" property="isDeleted" jdbcType="BIT"/>
        <result column="creator" property="creator" jdbcType="CHAR"/>
        <result column="creation_time" property="creationTime" jdbcType="TIMESTAMP"/>
        <result column="modifier" property="modifier" jdbcType="VARCHAR"/>
        <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, area_id, is_enabled, is_deleted, creator, creation_time, modifier, modify_time
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from open_area
        where id = #{id,jdbcType=CHAR} and is_deleted = 0
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    update  open_area set  is_deleted = 1
    where id = #{id,jdbcType=CHAR}
  </delete>
    <insert id="insert" parameterType="com.jopool.chargingStation.www.base.entity.OpenArea">
        insert into open_area (id, area_id, is_enabled, is_deleted,
        creator, creation_time, modifier,
        modify_time)
        values (#{id,jdbcType=CHAR}, #{areaId,jdbcType=CHAR}, #{isEnabled,jdbcType=BIT}, #{isDeleted,jdbcType=BIT},
        #{creator,jdbcType=CHAR}, #{creationTime,jdbcType=TIMESTAMP}, #{modifier,jdbcType=VARCHAR},
        #{modifyTime,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective" parameterType="com.jopool.chargingStation.www.base.entity.OpenArea">
        insert into open_area
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="areaId != null">
                area_id,
            </if>
            <if test="isEnabled != null">
                is_enabled,
            </if>
            <if test="isDeleted != null">
                is_deleted,
            </if>
            <if test="creator != null">
                creator,
            </if>
            <if test="creationTime != null">
                creation_time,
            </if>
            <if test="modifier != null">
                modifier,
            </if>
            <if test="modifyTime != null">
                modify_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=CHAR},
            </if>
            <if test="areaId != null">
                #{areaId,jdbcType=CHAR},
            </if>
            <if test="isEnabled != null">
                #{isEnabled,jdbcType=BIT},
            </if>
            <if test="isDeleted != null">
                #{isDeleted,jdbcType=BIT},
            </if>
            <if test="creator != null">
                #{creator,jdbcType=CHAR},
            </if>
            <if test="creationTime != null">
                #{creationTime,jdbcType=TIMESTAMP},
            </if>
            <if test="modifier != null">
                #{modifier,jdbcType=VARCHAR},
            </if>
            <if test="modifyTime != null">
                #{modifyTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.jopool.chargingStation.www.base.entity.OpenArea">
        update open_area
        <set>
            <if test="areaId != null">
                area_id = #{areaId,jdbcType=CHAR},
            </if>
            <if test="isEnabled != null">
                is_enabled = #{isEnabled,jdbcType=BIT},
            </if>
            <if test="isDeleted != null">
                is_deleted = #{isDeleted,jdbcType=BIT},
            </if>
            <if test="creator != null">
                creator = #{creator,jdbcType=CHAR},
            </if>
            <if test="creationTime != null">
                creation_time = #{creationTime,jdbcType=TIMESTAMP},
            </if>
            <if test="modifier != null">
                modifier = #{modifier,jdbcType=VARCHAR},
            </if>
            <if test="modifyTime != null">
                modify_time = #{modifyTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=CHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.jopool.chargingStation.www.base.entity.OpenArea">
    update open_area
    set area_id = #{areaId,jdbcType=CHAR},
      is_enabled = #{isEnabled,jdbcType=BIT},
      is_deleted = #{isDeleted,jdbcType=BIT},
      creator = #{creator,jdbcType=CHAR},
      creation_time = #{creationTime,jdbcType=TIMESTAMP},
      modifier = #{modifier,jdbcType=VARCHAR},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=CHAR}
  </update>
    <!--custom-->
    <select id="selectAll" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from open_area
        where is_deleted = 0
    </select>

    <select id="selectBaseVo" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from open_area
        where is_deleted = 0
        <if test="keyword !='' and keyword != null">
        </if>
        ORDER  BY creation_time DESC
    </select>

    <select id="selectAreaId" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from open_area
        where is_deleted = 0
        and area_id=#{areaId,jdbcType=CHAR}
        ORDER  BY creation_time DESC
    </select>
</mapper>