<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jopool.chargingStation.www.dao.RechargePackageSnapshotMapper" >
  <resultMap id="BaseResultMap" type="com.jopool.chargingStation.www.base.entity.RechargePackageSnapshot" >
    <id column="id" property="id" jdbcType="CHAR" />
    <result column="rcharge_package_id" property="rchargePackageId" jdbcType="CHAR" />
    <result column="payment" property="payment" jdbcType="INTEGER" />
    <result column="amount" property="amount" jdbcType="INTEGER" />
    <result column="is_enabled" property="isEnabled" jdbcType="BIT" />
    <result column="is_deleted" property="isDeleted" jdbcType="BIT" />
    <result column="creator" property="creator" jdbcType="CHAR" />
    <result column="creation_time" property="creationTime" jdbcType="TIMESTAMP" />
    <result column="modifier" property="modifier" jdbcType="VARCHAR" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, rcharge_package_id, payment, amount, is_enabled, is_deleted, creator, creation_time, 
    modifier, modify_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from recharge_package_snapshot
    where id = #{id,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from recharge_package_snapshot
    where id = #{id,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.jopool.chargingStation.www.base.entity.RechargePackageSnapshot" >
    insert into recharge_package_snapshot (id, rcharge_package_id, payment, 
      amount, is_enabled, is_deleted, 
      creator, creation_time, modifier, 
      modify_time)
    values (#{id,jdbcType=CHAR}, #{rchargePackageId,jdbcType=CHAR}, #{payment,jdbcType=INTEGER}, 
      #{amount,jdbcType=INTEGER}, #{isEnabled,jdbcType=BIT}, #{isDeleted,jdbcType=BIT}, 
      #{creator,jdbcType=CHAR}, #{creationTime,jdbcType=TIMESTAMP}, #{modifier,jdbcType=VARCHAR}, 
      #{modifyTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.jopool.chargingStation.www.base.entity.RechargePackageSnapshot" >
    insert into recharge_package_snapshot
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="rchargePackageId != null" >
        rcharge_package_id,
      </if>
      <if test="payment != null" >
        payment,
      </if>
      <if test="amount != null" >
        amount,
      </if>
      <if test="isEnabled != null" >
        is_enabled,
      </if>
      <if test="isDeleted != null" >
        is_deleted,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="creationTime != null" >
        creation_time,
      </if>
      <if test="modifier != null" >
        modifier,
      </if>
      <if test="modifyTime != null" >
        modify_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=CHAR},
      </if>
      <if test="rchargePackageId != null" >
        #{rchargePackageId,jdbcType=CHAR},
      </if>
      <if test="payment != null" >
        #{payment,jdbcType=INTEGER},
      </if>
      <if test="amount != null" >
        #{amount,jdbcType=INTEGER},
      </if>
      <if test="isEnabled != null" >
        #{isEnabled,jdbcType=BIT},
      </if>
      <if test="isDeleted != null" >
        #{isDeleted,jdbcType=BIT},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=CHAR},
      </if>
      <if test="creationTime != null" >
        #{creationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null" >
        #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jopool.chargingStation.www.base.entity.RechargePackageSnapshot" >
    update recharge_package_snapshot
    <set >
      <if test="rchargePackageId != null" >
        rcharge_package_id = #{rchargePackageId,jdbcType=CHAR},
      </if>
      <if test="payment != null" >
        payment = #{payment,jdbcType=INTEGER},
      </if>
      <if test="amount != null" >
        amount = #{amount,jdbcType=INTEGER},
      </if>
      <if test="isEnabled != null" >
        is_enabled = #{isEnabled,jdbcType=BIT},
      </if>
      <if test="isDeleted != null" >
        is_deleted = #{isDeleted,jdbcType=BIT},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=CHAR},
      </if>
      <if test="creationTime != null" >
        creation_time = #{creationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null" >
        modifier = #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jopool.chargingStation.www.base.entity.RechargePackageSnapshot" >
    update recharge_package_snapshot
    set rcharge_package_id = #{rchargePackageId,jdbcType=CHAR},
      payment = #{payment,jdbcType=INTEGER},
      amount = #{amount,jdbcType=INTEGER},
      is_enabled = #{isEnabled,jdbcType=BIT},
      is_deleted = #{isDeleted,jdbcType=BIT},
      creator = #{creator,jdbcType=CHAR},
      creation_time = #{creationTime,jdbcType=TIMESTAMP},
      modifier = #{modifier,jdbcType=VARCHAR},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=CHAR}
  </update>
</mapper>